body
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

}

.logoscr
{	
	margin:0;
	height: 315px;
	width: 100%;
	background-image:url("images/logoscr.jpg");
	background-position: center;
	background-size: cover;
	display: flex;
	
}
.sublogoscr
{	
	margin:0;
	height: 100px;
	width: 100%;
	background-image:url("images/subsitetop.png");
	background-position: center;
	background-size: cover;
	display: flex;
	
}

.toolbar
{	margin:0;
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)),url("images/toolbarscr.jpg");
	background-position: top;
	height: 50px;
	width: 100%;
	display:flex;
	justify-content: space-around;
	padding-bottom: 20px;
	border-bottom: 8px black solid;
}

.toolbar ul li{
	background-color: rgba(0,0,0,0.7);
	list-style-type: none;
	display:inline-block;
	padding:0px;
	margin: 0px;
}

.toolbar a{
	margin:0;
	font-size: 20px;
	display: inline-block;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	border:1px solid white;
	padding: 10px; 
	transition: 0.5s;
}

.toolbar li:hover a{
	margin:0;
	color:black;
	background-color: white;
}
.toolbar img{
	margin-top:-30px;
	width: 150px;
	height: 150px;
}
.oyuntab{
	padding-top: 0px;
	margin-top: 0;
	background-color: black;
	height: 10px;
	width: 100%;
	display:flex;
	justify-content: space-around;
	padding-bottom: 50px;

}
.oyuntab ul li{
	list-style-type: none;
	display:inline-block;
	padding:0px;
	margin: 0px;
	transition: 0.5s;
}
.oyuntab a{
	color: white;
	text-decoration: none;
}
.oyuntab li:first-child{
	margin-right: 20px;
}
.oyuntab li:last-child{
	margin-left: 20px;
}
.oyuntab li:hover a{
	color: grey
}
.oyuntab h3{
	color: grey;
	margin:10px;
	padding:0;
}
.about{

	background-color: black;
	height:400px;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
}

.kimiz{
	
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin:0px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 88%, rgba(0,0,0,1) 100%);
	height:auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.kimiz img{
	margin-left: 20px;
	margin-top: -0px;
	height: 200px;
	width: 200px;
	

}

.kimiz p{
	height: 140px;
	display: inline-block;
	margin-left: 300px;
	margin-top: -170px;
}
.subsite{

	background-color: black;
	height:400px;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
}

.sublogo{
	margin:0px;
	padding-top: 10px;
	text-align: center;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 88%, rgba(0,0,0,1) 100%);
	height:auto;
	margin-bottom: 20px;
}
.sublogo img{
	height: 200px;
	width:200px;
	

}
.dıs{

	height: 475px;
	display: flex;
	margin:0px;
	background-color: #f4f4f4;
	justify-content: space-around;
}
.orta{
	width: 40%;
	height: 400px;
	margin:40px;
	padding: 10px;
	display: block;
	justify-content: space-between;
	text-align:center;
	transition: 1s;
}
.orta p{
	color: #f4f4f4;
	
}
.orta:first-child{
	border: 1px grey solid;
	margin-right: 5px;
}
.orta:first-child:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/fabarka.jpg");
	background-size: cover;
	background-position: right;
	color:white;
}
.orta:last-child:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/biorunner.jpg");
	background-size: cover;
	background-position: right;	
	color: white;
}

.orta:last-child{
	border: 1px grey solid;
	margin-left: 5px;
}
.orta1{
	width: 40%;
	height: 400px;
	margin:40px;
	padding: 10px;
	display: block;
	justify-content: space-between;
	text-align:center;
	transition: 1s;
}
.orta1 p{
	color: #f4f4f4;
	
}
.orta1:first-child{
	border: 1px grey solid;
	margin-right: 5px;
}
.orta1:first-child:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/codingbck.jpg");
	background-size: cover;
	background-position: right;
	color:white;
}
.orta1:last-child:hover{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/modellingbck.jpg");
	background-size: cover;
	background-position: right;	
	color: white;
}

.orta1:last-child{
	border: 1px grey solid;
	margin-left: 5px;
}


.ic img{
	margin: 0px;
	width: 70%;
}

.althaber{
	justify-content: space-between;
	margin: 0;
	padding: 0px;
}
.ic2{
	border-top: 2px grey solid;
	border-bottom: 2px grey solid;
	font-size: 20pt;
	justify-content: space-around;
	margin: 40px;
	margin-left: 0;
	margin-right: 0;
	padding: 10px;
	display: block;
	text-align: center;
}
.ic2 img{
	margin-top: 25px;
	width: 50%;
}
.altscr{
	height: 220px;
	width: 100%;
	background-image: url("images/sky.png");
	background-size: cover;
	background-position: center;
	text-align: center;
	margin-top: 0px;
	padding-bottom: 20px;
}
.altscr footer{

	height: 50px;
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	margin-top: 2px;
	color: white;
	background-color: black;
}
.altscr footer h5{
	margin-top:16px;
}
.social{
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.social img{
	padding: 20px;
	margin-top: 20px;
	height:60px;
	width: 60px;
}
.social img:hover{
	height: 80px;
	width: 80px;
}
.kurum{
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/modellingbck.jpg");
	margin-top: -250px;
	padding: 0px;
	display: block;
	background-color: #f4f4f4;
	height: auto;
	width: 100%;
}
.kuruminfo{
	height: 180px;
	width: 80%;
	border:1px white solid;
	margin:2%;
	margin-left:10%; 
	text-align: center;
	color: white;
	padding: 1%;
	font-weight: bold;
}
.kariyer{
	width: 100%;
	height: auto;
	background-color: black;
	margin-top: -250px;
}
.sart{
	border:1px black solid;
	width: 80%;
	margin:2%;
	margin-left: 8%;
	padding: 3%;
	text-align: center;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(50,46,46,1) 94%);
}
.sart img{
	width: 80%;
	height: auto;
}
.sart a{
	text-decoration-line: none;
}
.sart a:hover{
	color:green;
}
.iletisim{
	width: 100%;
	height: auto;
	background-color: black;
	margin-top: -250px;
	color:white;
	padding-bottom: 50px;
}
.tel{
	text-align: center;
	border:1px white solid;
}
.adres{
	text-align: center;
	border:1px white solid;
}
.harita{
	border:1px white solid;
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-bottom: 20px;
}


@media only screen and (max-width: 760px){
	.toolbar ul{
		margin: 0;
		padding:0;
		position: absolute;
		margin-top: 76px;
		margin-left: 0px;
		width: 100%;
	}
	.toolbar ul li{
		display:block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.toolbar a{
		text-align: center;
		width: 100%;
		border-bottom: 1px grey solid;
		transition: 0;
	}
	.kimiz img{
		width: 50%;
		height: auto;
		margin-left: 25%;

	}
	.kimiz p{
		margin-top: 0px;
		margin-left: 0;
		width: 100%;		 
	}
	.social img{
		width: 50px;
		height: auto;
	}
	.social img:hover{
	height: 70px;
	width: auto;
	}
	.oyuntab{
		margin-top: 222px;
	}
	.ic2 p{
		font-size: 11pt;
	}
	.kurum{
		font-size: 10pt;
	}
}